@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:disabled {
    background-color: #F50057 !important;
    border-color: #F50057;
    color: black;
}

#title-card {
    padding-top: 3rem;
}

.header {
    font-size: 2rem;
}

body {
    margin-top: 1rem;
}

.title-img {
    max-width: 315px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header {
        font-size: 5rem;
    }

    body {
        margin-top: 5rem;
    }
}
